@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&family=Roboto:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;     
}

html, body{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 250px;
    font-size: 15px;   
}
.intro-block{ 
    background: url(imagens/jovem-sorridente-sentado-na-cadeira-do-dentista-enquanto-o-medico-examina-os-dentes.jpg) ;
    padding: 100px 15px 60px;
    text-align: center;
    height: 500px;
    background-position: center;
    
}

#main-banner h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
#main-banner p{
   text-align: center;
   font-weight: 300;
   font-size: 30px;
   color: white;
}

.banner-equipa h1{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.banner-equipa p{
   color: white;
   font-size: 16px;
}
.banner-equipa{
    padding: 100px 15px 60px;
    background: url(imagens/medium-shot-doctors-wearing-protective-equipment.jpg);
    height: 400px;
}
#conteudo{
    margin-top: 20px;
}

#conteudo h1{
    text-align: center;
}

#conteudo .row button{
    font-weight: 300px;
    height: 50px; 
   
    
    
}
#conteudo .img-thumbnail{
    border-radius: 10px;
    border: none; 
}

#conteudo .row{
    margin-top: 30px;
    text-align: center;
}
.navbar{
    background-color: rgb(255, 255, 255); 
    
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>li>a:hover { 
    background: none;
    
}

.navbar-default .navbar-nav>li>a{
    color:rgb(55, 124, 219);
    background: none;
}
.navbar-default .navbar-brand {
    /*color: rgb(11, 81, 186);*/
    color: rgb(55, 124, 219);
    font-weight: 500;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover{
    color:  rgb(114, 161, 228);
}


.navbar-header button{
    border: none;
}

.navbar-header button:hover{
    cursor: pointer;
}

.banner-mkt{
    padding-top: 20px;
    margin-top: 20px;
    height: 300px;
    text-align: center;
    background-color: rgb(225, 225, 225);
}
footer{
    background-color:#333;
    margin-top: 20px;
    padding-bottom: 10px;
    color: #FFFFFFCC;
}
footer ul{
    list-style: none;
}

footer a{
    color: #FFFFFFCC;
    text-decoration: none;
}

footer a:hover, a:active{
    color: white;
    text-decoration: none;
}

.infos{
    padding-left: 20px;
    
}
.infos .img-responsive{
    width: 550px;
    
}
.infos .lead{
   text-align: justify;
}
.infos-especialidades{
    padding-left: 20px;
    padding-top: 100px;  
}
.infos-especialidades .row h1{
    font-weight: bold;
    font-size: 38px;
    color: rgb(55, 124, 219);
    text-align: center;
    margin-bottom: 50px;
}
.infos-especialidades .img-responsive{
    width: 530px;
    height: 300px;
    border-radius: 5px;
}

.map{

   margin-top: 50px;

}

.infos-clinica{
    padding-left: 20px;
    padding-top: 100px;  
}

.infos-clinica .row h1{
    font-weight: bold;
    font-size: 38px;
    color: rgb(55, 124, 219);
    text-align: center;
    margin-bottom: 50px;
}

.sobre{
    padding-top: 20px;
    margin-bottom: 50px;
}

.video{
    padding-top: 20px;
   
}